:root {
	--background-color1: hsl(45, 5%, 10%);
	--background-color2: hsl(45, 5%, 15%);
	--background-color3: hsl(45, 5%, 20%);
	--background-color4: hsl(45, 25%, 50%);
	--background-color5: hsl(45, 25%, 20%);
	--color1: hsl(45, 10%, 67%);
	--color2: hsl(45, 10%, 80%);
	--accent-color: hsl(45, 10%, 33%);
	--shadow: hsl(45, 5%, 5%);
	--border-width: 3px;
}

body {
	background-color: var(--background-color1);
	color: var(--color1);
	margin: 50px 5%;
	text-align: center;
	font-family: monospace;
	font-size: 140%;
	line-height: 1.25;
}

@media (max-width: 800px) {
	body {
		margin: 50px 0px;
	}
}

a {
	color: var(--color1);
}

a:hover {
	color: var(--color2);
	text-decoration: none;
}

a:visited {
	color: var(--color1);
}

iframe {
	width: 400px;
	height: 220px;
}

video {
	margin: 24px 0px;
	width: 100%;
	max-width: 600px;
	border-radius: 12px;
}

.header {
	z-index: 5;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background-color: var(--background-color2);
	box-shadow: 0 0 12px var(--shadow);
}

.menu {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 0;
	width: max-content;
}

.menu ul {
	padding-inline-start: 0;
	margin-top: 0px;
}

.menu li {
	list-style-type: none;
	margin-top: 0px;
	float: left;
	padding: 12px;
}

.menu li:hover {
	cursor: pointer;
	background-color: var(--background-color3);
}

.main {
	margin: 50px auto 25px auto;
	max-width: 900px;
}

.main img {
	width: 150px;
	border-radius: 50%;
	border: var(--border-width) solid var(--background-color4);
	filter: sepia(67%);
	opacity: 0.9;
}

.flyingBird {
	margin-top: 15px;
	width: 40px !important;
	border-radius: 50%;
	filter: none !important;
}

.flyingBird:hover {
	background-color: var(--background-color2);
	cursor: pointer;
	scale: 1.05;
}

@media (max-width: 800px) {
	.main {
		width: calc(100% - 24px);
		margin: 50px 0px 25px 0px;
		border-left: 12px solid var(--background-color1);
		border-right: 12px solid var(--background-color1);
	}
}

.modal {
	z-index: 1;
	padding-top: 50px;
	background: linear-gradient(to left, rgba(27, 26, 24, 0), rgba(27, 26, 24, 0.95) 10%, rgba(27, 26, 24, 0.95) 50%, rgba(27, 26, 24, 0.95) 90%, rgba(27, 26, 24, 0) 100%);
	/* background-color: var(--background-color1);
	opacity: 0.95; */
}

.modal p {
	padding: 0 10%;
}

@media (max-width: 800px) {
	.modal {
		background: rgba(27, 26, 24, 0.95);
	}
	.modal p {
		padding: 0;
	}
}

.cards {
	width: fit-content;
	display: grid;	
	grid-template-columns: calc(50% - 12px) calc(50% - 12px);
	grid-gap: 12px;
	justify-content: center;
}

@media (max-width: 800px) {
	.cards {
		grid-template-columns: calc(100% - 12px);
	}
}

.card {
	overflow: hidden;
	background-color: var(--background-color2);
	color: var(--color);
	border-radius: 6px;
	text-align: center;
}

.card-top {
	background-color: var(--background-color4);
}

.card-top img {
	width: 84px;
	opacity: 0.75;
	border: none;
}

.card-top, .card-bottom {
	padding: 24px;
}

.card:hover {
	filter: brightness(120%);
}

.highlight {
	color: var(--background-color4);
}

.underline {
	margin: 24px auto;
	width: 180px;
	height: var(--border-width);
	/* border-bottom: 2px solid var(--background-color4); */
	background-image: linear-gradient(to left, var(--background-color1), var(--background-color4) 50%, var(--background-color1) 100%);
	/* border-radius: 2px; */
}

.estrela {
	position: absolute;
	z-index: -10;
	opacity: 1;
	filter: brightness(50%);
	border-radius: 50%;
	animation: start 0.5s ease-in;
}

@keyframes start {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes glow {
	0%, 100% {
		filter: brightness(50%);
	}
	50% {
		filter: brightness(100%);
	}
}
